version: 2.1
orbs:
  codecov: codecov/codecov@3

jobs:
  build:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install --save-dev jest jest-environment-jsdom codecov
            npm install
      - run:
          name: Run tests and collect coverage
          command: |
            npx jest --coverage
            sleep 5
            echo "Listing all files in the coverage directory:"
            ls -R $CIRCLE_WORKING_DIRECTORY
            find $CIRCLE_WORKING_DIRECTORY/coverage -type f
      - store_artifacts:
          path: coverage/coverage-final.json  # Store the JSON coverage data
          destination: coverage-report-json  # Optional: Custom artifact folder in CircleCI UI
      - store_artifacts:
          path: coverage/lcov-report  # Store the HTML coverage report
          destination: coverage-report-html  # Optional: Custom artifact folder in CircleCI UI

      - codecov/upload

workflow:
  version: 2.1
  build-test:
    jobs:
      - build
