version: 2.1
orbs:
  codecov: codecov/codecov@3

jobs:
  build:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install --save-dev jest
            npm install
      - run:
          name: Run tests and collect coverage
          command: npm run test
            
      - store_artifacts:
          path: coverage/coverage-final.json 
          destination: coverage-report
      - codecov/upload

workflow:
  version: 2.1
  build-test:
    jobs:
      - build
