version: 2.1
orbs:
  codecov: codecov/codecov@3

jobs:
  build:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install --save-dev @babel/preset-env @babel/register
            npm install
      - run:
          name: Run tests and collect coverage
          command: |
            npx jest --coverage
            sleep 5
            echo "Listing all files in the coverage directory:"
            ls -R $CIRCLE_WORKING_DIRECTORY
            find $CIRCLE_WORKING_DIRECTORY/coverage -type f
      - store_artifacts:
          path: coverage/coverage-final.json
          destination: coverage-report-json
      - store_artifacts:
          path: coverage/lcov-report
          destination: coverage-report-html

      - run:
          name: Create large dummy zip file (500MB)
          command: |
            mkdir -p dummy-data
            dd if=/dev/urandom of=dummy-data/random.bin bs=1M count=500
            zip -r dummy-artifact.zip dummy-data
      - store_artifacts:
          path: dummy-artifact.zip
          destination: dummy-large-file

      - codecov/upload

workflows:
  version: 2.1
  build-test:
    jobs:
      - build
