version: 2.1
orbs:
  codecov: codecov/codecov@3

jobs:
  build:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install --save-dev jest
            npm install --save-dev vitest
            npm install
      - run:
          name: Run tests and collect coverage
          command: npx vitest run
      - store_artifacts:
          path: coverage/coverage-final.json  # Store the JSON coverage data
          destination: coverage-report-json  # Optional: Custom artifact folder in CircleCI UI
      - store_artifacts:
          path: coverage/lcov-report  # Store the HTML coverage report
          destination: coverage-report-html  # Optional: Custom artifact folder in CircleCI UI

      - codecov/upload

workflow:
  version: 2.1
  build-test:
    jobs:
      - build
